.navbar,
.dropdown-menu{
	background: $b;
	
	.dropdown-divider{
		max-width: 100px;
		margin: auto;
		border-color: $p2;
	}
	
	.dropdown-item{
		background: $b;
		
		&:hover{
			background: $b;
		}
	}
	
	a{
    color: $p1;
        
    &:hover{
            color: $p2;
            text-decoration: none;
        }
    &:focus{
        color: $p1;
		}
	}
}

.navbar{
	.navbar-toggler{
		color: $p1;
		border-color: $p1;
	}
}


footer{
    
 
    background: $b;
    border-top: 1px $w solid;
    
    
    .footer{
   
        a,
        .fa-calendar-alt,
        .fa-facebook-square,
        .fa-instagram,
        .fa-map-marker-alt,
        .fa-envelope,
        .fa-phone-square{
            color: $w;
        }
    }
    
  
    
}


.navbar-brand{
    
    
    a{
        color: #ffffff;
           
        .FB-IG{
            width: 30px;
            height: 30px;
            background: #ff0000;
            margin: 10px;
            border-radius: 100%;

        }
        
        &:hover{
            .FB-IG{
                background: rgba(255,0,0,.7);
            }
        }
    }
    
}




footer{
    background: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px #ffffff solid;
    
    
    
    .footer{
        p{
            color: #ffffff;
            font-size: 16px;
           
        }
        
        a,
        a:focus{
            color: #ffffff;
            text-decoration: none;
            outline: none;
            
            &:hover{
                color: rgba(255,255,255,.7);
            }
        }
        
        div>div{
            margin-top: 5px;
        }
        
        .follow-us{
           padding-left: 50px;
        }
        
        
    }

  
}