<footer>
        <div class="container-fluid">
            <div class="row justify-content-center footer py-3 text-center">

                        <div class="col-md-4">
                            
                           <p> <a data-toggle="modal" data-toggle="modal" data-target="#Map" href=""> 
                                <i class="far fa-map fa-2x"></i><span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"> 525 E. 200 S.</span> 
                                <span itemprop="addressLocality">Lehi</span>, 
                                <span itemprop="addressRegion">Utah</span> 
                                <span itemprop="postalCode">84043</span>
                              <br><img class="mt-2" src="img/icons/map-pic.jpg">
                            
                            </a> </p>
                            
                            
                        </div>
                        
                        <div class="col-md-4">
                       
                            <p><a itemprop="email" href="mailto:info@leubasketball.com"><i class="fas fa-envelope fa-2x"></i><br>info@leubasketball.com</a></p>
                            
                            <p><a intemprop="telephone" href="tel:+1-801-341-9124"><i class="fas fa-phone-square fa-2x"></i><br>801-341-9124</a>
                            </p>
                            
                           
                        </div> 
                
                        <div class="col-12 py-2 text-left">
                            <p>Copyright &copy; Lace 'Em Up Basketball 2018</p>
             <br>
        <a href="https://www.leubasketball.com/dev-templates/index.html">Return to Landing Page</a>
                        </div>
                
            </div>
        </div>
   <!--Map Popup modal-------------------------------------------------------------------------------------------------------->  
                             <div id="Map" class="modal fade" role="dialog">
                                <div class="modal-dialog">

                                    <div class="modal-content">
                                       <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <p class="modal-title">Lace 'Em Up Basketball (inside the Karl Malone Training Center)</p>
                                          </div>
                                                <div><!--GOOGLE MAP-->
                                        <!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
                                        <div style="overflow:hidden; width:700px; height:500px; resize:none; max-width:100%;" class="img-responsive">
                                            <div id="embed-map-canvas" style="height:100%; width:100%;max-width:100%;">
                                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.0423684508264!2d-111.842752784605!3d40.38575357936873!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d81cf433f4f73%3A0x5f78f97b9cfe822c!2s525+E+200+S%2C+Lehi%2C+UT+84043!5e0!3m2!1sen!2sus!4v1468097803944" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                                            </div>
                                            <a class="google-maps-code" href="http://www.bootstrapskins.com/themes/wordpress" id="grab-map-info">wordpress themes</a><style>#embed-map-canvas img{max-width:none!important;background:none!important;font-size: inherit;}</style>
                                        </div>
                                        <script src="https://www.bootstrapskins.com/google-maps-authorization.js?id=b78c2f0a-24cb-5e2b-4299-8da653a67c4c&c=google-maps-code&u=1453497466" defer="defer" async="async"></script>
                                    </div><!--end google map-->
                                    </div><!--modal content DIV-->

                                </div>
                      </div>
        <!------------------------------------------------------------------------------------------------------------------------->   
</footer>
