

<!--Social Media Meta Data og:...-->    
    <meta property="og:type" content="local business">
    <meta property="og:image" content="https://www.leubasketball.com/img/logos/FBleuLogojpg">
    <meta property="og:title" content="Basketball Skills Training | Lace ‘Em Up" />
    <meta property="og:description" content="The best basketball training and basketball camps in the state!  Located at the Karl Malone Training Center in Lehi, Utah." />
    <meta property="og:url" content="https://www.leubasketball.com/"/>
    

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   
    
  <link rel="stylesheet" href="{{ "css/main.css" | prepend: site.baseurl }}">
   
<!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Orbitron:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet">

    

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">



<!--Google Analytics-->
    
<!-- Facebook Pixel Code -->


