<header>
    
    <nav class="navbar navbar-expand-md navbar-dark bg-black fixed-top">
        <div class="navbar-brand text-center"><a href=""><div class="FB-IG d-inline-block"><i class="fab fa-instagram mx-auto"></i></div></a><a href=""><div class="FB-IG d-inline-block"><i class="fab fa-facebook-f mx-auto"></i></div></a></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto text-uppercase">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                </li>

                 <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Training
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="training-memberships.html">Memberships</a>
                      <a class="dropdown-item" href="personal-training.html">Personal Training</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="events.html">Camps</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="calendar.html">Calendar</a>
                </li>
               
            </ul>
        </div>
    </nav>
</header>
